<!--<mat-expansion-panel [togglePosition]="'before'" [expanded]="isExpanded">-->
  <div *ngIf="!isExpanded">{{slotNames[slotName]}} <b>{{numberSelected(slotName)}}</b>/{{equipmentSlot.length}} selected</div>
  <table class="table" mat-table [dataSource]="dataSource" matSort *ngIf="isExpanded">
    <!-- Select Column -->
    <ng-container matColumnDef="selected">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <input type="checkbox" [value]="true" (click)="toggleSelectAll(slotName)" [checked]="isAllChecked(slotName)" />
      </th>
      <td mat-cell *matCellDef="let item" class="text-center">
        <input type="checkbox" [value]="true" (click)="toggleItem(slotName, item)" [checked]="isSelected(slotName, item)" />
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{slotNames[slotName]}} <b>{{numberSelected(slotName)}}</b>/{{equipmentSlot.length}}</th>
      <td mat-cell *matCellDef="let item">
        <ng-template #detailedPopoverBody>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let prop of handheldFields">
              <b>{{ prop }}</b>: {{ item[prop] }}
            </li>
          </ul>
        </ng-template>
        <span
          container="body"
          [autoClose]="'outside'"
          [ngbPopover]="detailedPopoverBody"
          [popoverTitle]="item.Name">{{ item.Name }}</span>
      </td>
    </ng-container>

    <!-- Armor Column -->
    <ng-container matColumnDef="Armor">
      <th mat-header-cell class="text-center" *matHeaderCellDef mat-sort-header>Armor</th>
      <td mat-cell class="text-center" *matCellDef="let item">{{ item.Armor === 0 ? '' : item.Armor }} </td>
    </ng-container>

    <!-- Armor Percent Column -->
    <ng-container matColumnDef="Armor Percent">
      <th mat-header-cell class="text-center" *matHeaderCellDef mat-sort-header>Armor Percent</th>
      <td mat-cell class="text-center" *matCellDef="let item">{{ item['Armor Percent'] === 0 ? '' : item['Armor Percent']}} </td>
    </ng-container>

    <!-- Toughness Column -->
    <ng-container matColumnDef="Toughness">
      <th mat-header-cell class="text-center"*matHeaderCellDef mat-sort-header>Toughness</th>
      <td mat-cell class="text-center"*matCellDef="let item">{{ item.Toughness === 0 ? '' : item.Toughness }} </td>
    </ng-container>

    <!-- Toughness Percent Column -->
    <ng-container matColumnDef="Toughness Percent">
      <th mat-header-cell class="text-center"*matHeaderCellDef mat-sort-header>Toughness Percent</th>
      <td mat-cell class="text-center"*matCellDef="let item">{{ item['Toughness Percent'] === 0 ? '' : item['Toughness Percent'] }} </td>
    </ng-container>

    <!-- Protection Column -->
    <ng-container matColumnDef="Protection">
      <th mat-header-cell class="text-center"*matHeaderCellDef mat-sort-header>Protection</th>
      <td mat-cell class="text-center"*matCellDef="let item">{{ item.Protection === 0 ? '' : item.Protection }} </td>
    </ng-container>

    <!-- Evasion Column -->
    <ng-container matColumnDef="Evasion">
      <th mat-header-cell class="text-center"*matHeaderCellDef mat-sort-header>Evasion</th>
      <td mat-cell class="text-center"*matCellDef="let item">{{ item.Evasion === 0 ? '' : item.Evasion }} </td>
    </ng-container>

    <!-- Regeneration Column -->
    <ng-container matColumnDef="Regeneration">
      <th mat-header-cell class="text-center"*matHeaderCellDef mat-sort-header>Regeneration</th>
      <td mat-cell class="text-center"*matCellDef="let item">{{ item.Regeneration === 0 ? '' : item.Regeneration }} </td>
    </ng-container>

    <!-- Life Drain Column -->
    <ng-container matColumnDef="Life Drain">
      <th mat-header-cell class="text-center"*matHeaderCellDef mat-sort-header>Life Drain</th>
      <td mat-cell class="text-center"*matCellDef="let item">{{ item['Life Drain'] === 0 ? '' : item['Life Drain'] }} </td>
    </ng-container>

    <!-- Health Column -->
    <ng-container matColumnDef="Health">
      <th mat-header-cell class="text-center"*matHeaderCellDef mat-sort-header>Health</th>
      <td mat-cell class="text-center"*matCellDef="let item">{{ item.Health === 0 ? '' : item.Health }} </td>
    </ng-container>

    <!-- Health Percent Column -->
    <ng-container matColumnDef="Health Percent">
      <th mat-header-cell class="text-center"*matHeaderCellDef mat-sort-header>Health Percent</th>
      <td mat-cell class="text-center"*matCellDef="let item">{{ item['Health Percent'] === 0 ? '' : item['Health Percent'] }} </td>
    </ng-container>

    <!-- Speed Column -->
    <ng-container matColumnDef="Speed">
      <th mat-header-cell class="text-center"*matHeaderCellDef mat-sort-header>Speed</th>
      <td mat-cell class="text-center"*matCellDef="let item">{{ item['Speed'] === 0 ? '' : item['Speed'] }} </td>
    </ng-container>

    <!-- Speed Percent Column -->
    <ng-container matColumnDef="Speed Percent">
      <th mat-header-cell class="text-center"*matHeaderCellDef mat-sort-header>Speed Percent</th>
      <td mat-cell class="text-center"*matCellDef="let item">{{ item['Speed Percent'] === 0 ? '' : item['Speed Percent'] }} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="Type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let item">{{ item.Type }} </td>
    </ng-container>

    <!-- Place Column -->
    <ng-container matColumnDef="Place">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Place</th>
      <td mat-cell *matCellDef="let item">{{ item.Place }} </td>
    </ng-container>

    <!-- Tier Column -->
    <ng-container matColumnDef="Tier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tier</th>
      <td mat-cell *matCellDef="let item">{{ item.Tier }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getColumns(slotName)"></tr>
    <tr mat-row *matRowDef="let item; columns: getColumns(slotName);"></tr>

  </table>
<!--</mat-expansion-panel>-->
