<mat-sidenav-container>

  <div class="row no-margin">
    <div class="col-md-3"><h1>Bob's Builds</h1></div>
    <div class="col-md-5">{{ totalSelected() }} <a [routerLink]="['/equipment']">items selected</a></div>
  </div>
  <div class="row no-margin">
    <div class="col-sm-6">
      <app-compare-all-form (bestBuilds$)="setBuilds($event)"></app-compare-all-form>
    </div>
    <div class="col-sm-6">
      <app-build-details #buildDetails></app-build-details>
    </div>
  </div>
  <!--
  <mat-sidenav #alertLeftSidebar
    class="standard-left-sidebar"
    position="end"
    mode="over"
    disableClose="true"
    [fixedInViewport]="true">
    <app-select-equipment></app-select-equipment>
  </mat-sidenav>
-->
</mat-sidenav-container>
