<mat-sidenav-container>
  <div class="row no-margin">
    <div class="col-sm-2" style="padding:0">
      <app-equipment
        [allDetails]="false"
        [isExpanded]="true"
        (togglePanel)="toggleEquipmentPanel($event)">
      </app-equipment>
    </div>
    <div class="col-sm-3" style="padding:0">
      <app-compare-all-form (bestBuilds$)="setBuilds($event)"></app-compare-all-form>
    </div>
    <div class="col-sm-7">
      <app-build-details #buildDetails></app-build-details>
    </div>
  </div>
  <mat-sidenav #equipmentSidenav
    class="standard-left-sidebar"
    position="start"
    mode="over"
    disableClose="true"
    [fixedInViewport]="true"
  >
    <app-equipment
      (togglePanel)="toggleEquipmentPanel($event)"
      [allDetails]="true"
      [isExpanded]="true"
    ></app-equipment>
  </mat-sidenav>
</mat-sidenav-container>
