<div *ngIf="isLoading" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="!isLoading" class="col-sm">
  <div class="row">
    <div class="col-md-3">
      <h2>Equipment</h2>
    </div>
    <div class="col-md-3">
      <button class="btn-sm" (click)="update()">reload equipment</button>&nbsp;
      <button class="btn-sm" (click)="isExpanded = !isExpanded">toggle open</button>
    </div>
    <div class="form-group col-md-3 form-inline">
      {{ totalSelected() }} out of 20 max items selected
      <!--<label for="showFields">Columns&nbsp;</label>
      <select id="showFields" class="form-control form-control-sm">
        <option selected>Choose...</option>
        <option>da Fence</option>
      </select>-->
    </div>
  </div>
  <mat-accordion multi>
    <mat-expansion-panel *ngFor="let slot of slots; let i = index" [expanded]="isExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>{{slotNames[i]}}</mat-panel-title>
        <mat-panel-description>
          {{(equipment$ | async)[slot]?.length}} items
          ({{ numberSelected(slot) }}) selected
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table class="table" mat-table [dataSource]="getDataSource(slot)" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="selected">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            <input type="checkbox" [value]="true" (click)="toggleSelectAll(slot)" [checked]="isAllChecked(slot)" />
          </th>
          <td mat-cell *matCellDef="let item" class="text-center">
            <input type="checkbox" [value]="true" (click)="toggleItem(slot, item)" [checked]="isSelected(slot, item)" />
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let item">{{ item.Name }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!--        <tr>
                  <th>

                  </th>
                  <th>Name</th>
                  <th>Armor / %</th>
                  <th>Toughness / %</th>
                  <th>Protection</th>
                  <th>Evasion</th>
                  <th>Regen</th>
                  <th>Health / %</th>
                  <th>Place</th>
                  <th>Tier</th>
                </tr>
                <tr *ngFor="let item of (equipment$ | async)[slot]">
                  <td>
                    <input type="checkbox" [value]="true" (click)="toggleItem(slot, item)" [checked]="isSelected(slot, item)" />
                  </td>
                  <td>{{ item['Name'] }}</td>
                  <td>{{ item['Armor'] }} / {{ item['Armor Percent'] }}</td>
                  <td>{{ item['Toughness'] }} / {{ item['Toughness Percent'] }}</td>
                  <td>{{ item['Protection'] }}</td>
                  <td>{{ item['Evasion'] }}</td>
                  <td>{{ item['Regeneration'] }}</td>
                  <td>{{ item['Health'] }} / {{ item['Health Percent'] }}</td>
                  <td>{{ item['Place'] }}</td>
                  <td>{{ item['Tier'] }}</td>
                </tr>
        -->
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>
