<div *ngIf="isLoading" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="!isLoading" class="col-sm">
  <div>
    <h2>Equipment</h2>
    <div class="actions">
      <a href (click)="update($event)"><span class="material-icons">sync</span></a>&nbsp;
      <a href (click)="autoSelect($event)"><span class="material-icons">select_all</span></a>&nbsp;
      <a href (click)="clearAll($event)"><span class="material-icons">clear</span></a>&nbsp;
      <a href="javascript:void(0)" *ngIf="isExpanded" (click)="isExpanded = false;"><span class="material-icons">expand_more</span></a>
      <a href="javascript:void(0)" *ngIf="!isExpanded" (click)="isExpanded = true;"><span class="material-icons">expand_less</span></a>
      &nbsp;<button class="btn-sm" (click)="togglePanelEvent.emit(true)"><span class="material-icons">table_view</span></button>&nbsp;
    </div>
    <div class="form-group form-inline">
      {{ totalSelected() }} items selected
      <!--<label for="showFields">Columns&nbsp;</label>
      <select id="showFields" class="form-control form-control-sm">
        <option selected>Choose...</option>
        <option>da Fence</option>
      </select>-->
    </div>
  </div>

  <ng-template [ngIf]="(equipment$ | async)['boots'].length > 0">
    <app-select-equipment
      *ngFor="let slot of slotNames"
      [equipmentSlot]="(getEquipmentSlot$(slot) | async)"
      [slotName]="slot"
      [isExpanded]="isExpanded"
      [displayedColumns]="getColumns()"
    ></app-select-equipment>
  </ng-template>
</div>
