<div *ngIf="isLoading" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="!isLoading">
  <div class="row">
    <div class="col-md-3">
      <h2>Equipment</h2>
    </div>
    <div class="col-md-3">
      <button class="btn-sm" (click)="update()">update cache</button>&nbsp;
      <button class="btn-sm" (click)="isExpanded = !isExpanded">toggle open</button>
    </div>
    <div class="form-group col-md-3 form-inline">
      <label for="showFields">Columns&nbsp;</label>
      <select id="showFields" class="form-control">
        <option selected>Choose...</option>
        <option>da Fence</option>
      </select>
    </div>
  </div>
  <mat-accordion #equipmentTable [multi]="true">
    <mat-expansion-panel *ngFor="let slot of slots; let i = index" [expanded]="isExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>{{slotNames[i]}}</mat-panel-title>
        <mat-panel-description>{{(equipment | async)[slot]?.length}} items</mat-panel-description>
      </mat-expansion-panel-header>
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Armor / %</th>
          <th>Toughness / %</th>
          <th>Protection</th>
          <th>Evasion</th>
          <th>Regen</th>
          <th>Health / %</th>
          <th>Place</th>
          <th>Tier</th>
        </tr>
        <tr *ngFor="let item of (equipment | async)[slot]">
          <td>{{ item['Name'] }}</td>
          <td>{{ item['Armor'] }} / {{ item['Armor Percent'] }}</td>
          <td>{{ item['Toughness'] }} / {{ item['Toughness Percent'] }}</td>
          <td>{{ item['Protection'] }}</td>
          <td>{{ item['Evasion'] }}</td>
          <td>{{ item['Regeneration'] }}</td>
          <td>{{ item['Health'] }} / {{ item['Health Percent'] }}</td>
          <td>{{ item['Place'] }}</td>
          <td>{{ item['Tier'] }}</td>
        </tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>
