<form>
  <div class="row">
    <h2 class="col-sm-6">
      Build
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </h2>
  </div>
</form>

<ng-template [ngIf]="!scores">
  <p class="lead">Submit a Scenario to find a build score.</p>
</ng-template>

<div class="build-score-row" *ngFor="let score of scores;">
  <div *ngFor="let build of builds[score]; index as currentIndex">
    <div class="build-score-row-copy">
      <span class="material-icons" [cdkCopyToClipboard]="getDiscordFormat(score, currentIndex)">content_copy</span>
    </div>

    <div class="build-score-row-content">
      <div class="build-row">
        <span *ngFor="let slot of ['helmet','chestplate','leggings','boots','offhand']">
          {{ getBuild(score, currentIndex)[slot]['Name'] }}</span>
      </div>

      <div class="score-row">
        <span><b>{{ score | percent:'2.2'}}</b> Health Lost</span>
        <span *ngFor="let stat of ['armor','toughness','protection','evasion','regeneration', 'health']">
          {{ getScores(score, currentIndex)[stat] }} {{ getStatName(stat) }}
        </span>
        <span>
          {{ (getScores(score, currentIndex)['speed_percent'] - 1) >= 0 ? '+' : '' }}{{ (getScores(score, currentIndex)['speed_percent'] - 1) | percent:'2.2' }}
          Speed
        </span>
      </div>
    </div>

  </div>
</div>