<h2>Build
  <small><select (change)="currentScore = +score.value" #score>
    <option *ngFor="let key of scores" [value]="key">{{ key | percent:'2.2-2' }} [{{ builds[currentScore].length }}]</option>
  </select></small>
  <small><select (change)="currentIndex = +buildIdx.value" #buildIdx>
    <option *ngFor="let build of builds[currentScore]; index as idx" [value]="idx">{{ idx }}</option>
  </select></small>
</h2>

<ng-template [ngIf]="currentScore">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Tier</th>
      <th>Place</th>
    </tr>
    <tr *ngFor="let slot of ['helmet','chestplate','leggings','boots','offhand']">
      <td>{{ getBuild(currentScore, currentIndex)[slot]['Name'] }}</td>
      <td>{{ getBuild(currentScore, currentIndex)[slot]['Type'] }}</td>
      <td>{{ getBuild(currentScore, currentIndex)[slot]['Tier'] }}</td>
      <td>{{ getBuild(currentScore, currentIndex)[slot]['Place'] }}</td>
    </tr>
  </table>
</ng-template>
