@import "../node_modules/bootswatch/dist/slate/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootswatch/dist/slate/bootswatch";
@import '../node_modules/@angular/material/theming';

@include mat-core();

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
@include angular-material-theme($dark-theme);

app-equipment {
  display: block;
}

footer {
  height: 50px;
}

/** Bootstrap / BootSwatch overrides */

.col-form-label {
  padding-top: 0.25rem;
}

.table th {
  white-space: nowrap;
}

/** Material overrides */
.mat-expansion-panel-header-title {
  font-weight: bold;
}
